%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to 'Howse?', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav.pull-right
      %li= link_to 'About', root_path
      %li= link_to 'Help', root_path
      %li= link_to 'FAQ', root_path
      %li= link_to 'Blog', root_path
